body {
  font-family: 'Prompt', sans-serif;
  background: #141301;
}

ul {
  list-style: none;
  padding-left: 0;
}

@media (min-width: 1440px) {
  header {
    height: 654px;
    width: 100%;
    position: relative;
  }
  .navigation {
    position: absolute;
    width: 95px;
    background-color: #141301;
    height: 750px;
  }
  .menu {
    z-index: 9999;
    width: 100%;
  }
  .menu__btn {
    padding-left: 20px;
    margin-top: 167px;
  }
  .navbar-toggler {
    border: none;
  }
  .social ul {
    list-style: none;
    padding-left: 35px;
  }
  .social {
    margin-top: 160px;
  }
  .social__item {
    margin-top: 60px;
  }
  .social__icon {
    width: 30px;
  }
  .scroll {
    padding-top: 15px;
    margin-left: 40px;
  }
}

@media (min-width: 1440px) {
  .start__content {
    width: 500px;
    left: 30%;
    top: -240px;
    color: #fff;
  }
  .start__content__text1 {
    font-size: 130px;
    font-weight: 200;
    line-height: 0;
  }
  .start__content__text2 {
    font-size: 180px;
    font-weight: 800;
  }
  .video {
    padding-top: 600px;
  }
  .video__content__text1 {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
  }
  .video__content__link {
    text-decoration: none;
    color: #fff;
  }
  .video__content__link:hover {
    text-decoration: none;
    color: #fff;
  }
  .video__player {
    position: absolute;
    top: 55%;
    right: 0;
    z-index: -1;
  }
  .swiper {
    padding-bottom: 150px !important;
  }
  .wiper-slide {
    margin-left: -160px;
  }
  .swiper-slide {
    margin: 15px;
    width: 660px !important;
    height: 435px !important;
  }
  .slider {
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .slider__title {
    font-size: 100px;
    font-weight: 900;
    color: #fff;
    margin-bottom: -150px;
    z-index: 9999;
    position: absolute;
    left: 25%;
  }
  .slider__title span {
    opacity: .5;
  }
  .slider__img {
    width: 660px;
    height: 435px;
  }
  .slider__description p {
    font-size: 20px;
    color: #fff;
    font-weight: 700;
  }
  .slider__description span {
    color: #A7A7A7;
    font-size: 18px;
  }
  .slider__description a {
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .slider__description a:hover {
    text-decoration: none;
    color: #fff;
  }
  .slider__allView a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
  }
  .slider__allView a:hover {
    text-decoration: none;
    color: #fff;
  }
  .slider2 {
    color: #fff;
  }
  .slider2__title {
    font-size: 100px;
    font-weight: 900;
  }
  .slider2__description {
    padding-left: 200px;
  }
  .carousel {
    z-index: -1;
  }
  .carousel-inner {
    height: 560px;
  }
  .carousel-item img {
    height: 560px;
    width: auto;
  }
  .carousel-indicators {
    bottom: -50px;
    right: auto;
    margin-left: 30% !important;
  }
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: #141301;
  }
  .carousel-control-prev {
    left: -50%;
    border: none !important;
    width: 10px !important;
    height: 10px !important;
    color: #fff !important;
  }
  .carousel-control-next {
    right: -50%;
    border: none !important;
    width: 10px !important;
    height: 10px !important;
    color: #fff !important;
  }
  .slider3 {
    margin-top: 400px;
  }
  .slider3__title {
    font-weight: 900;
    font-size: 30px;
    color: #fff;
  }
  .owl__img {
    height: 300px;
  }
  /* YourVision Page */
  .client {
    margin-bottom: 150px;
  }
  .client__bg {
    height: 500px;
    max-width: 1040px;
    left: 40%;
    right: 0;
    top: 100px;
    z-index: -1;
  }
  .client__description {
    padding-top: 100px;
    font-size: 100px;
    font-weight: 700;
    color: #fff;
  }
  .client__description__add {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    max-width: 400px;
  }
  .video-blog {
    padding-top: 100px;
  }
  .video-blog__title {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-weight: 900;
    font-size: 30px;
  }
  .slider__double span {
    font-weight: 400;
    font-size: 18px;
    max-width: 450px;
    color: #fff;
    text-transform: none;
  }
  /* #2 */
  .addons__block {
    height: 360px;
    background-color: #c2c2c2;
  }
  .addons__block__title {
    background-color: #585858;
    font-weight: 900;
    font-size: 30px;
    padding: 15px 50px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  footer {
    margin-top: 400px;
  }
  .footer__logo {
    padding-top: 40px;
  }
  .footer__about {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.726);
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .footer__text {
    width: 500px;
    margin-left: auto;
    margin-right: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__maps {
    width: 40%;
  }
  .footer__title {
    font-size: 100px;
    font-weight: 900;
  }
  .footer__description {
    font-size: 18px;
    font-weight: 300;
  }
  .footer__description2 {
    font-size: 35px;
    font-weight: 900;
  }
  .footer__text ul {
    list-style: none;
    padding-left: 0;
  }
  .footer__link ul {
    color: #fff;
    margin: 40px;
  }
  .footer__logo img {
    margin-bottom: 25px;
  }
  .footer__logo a {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: block;
  }
  .footer__logo span {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding-top: 30px;
  }
  .footer__social {
    padding-top: 40px;
  }
  .footer__qr {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 162px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__qr img {
    margin-bottom: 15px;
  }
  .footer__end {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */